<%= render 'shared/page_title', title: "Recipes for #{@style.name} food" %>

<ul class="nav nav-tabs">
    <li class="active">
        <%= link_to "Recipes", recipes_path %>
    </li>
    <li>
        <%= link_to "Chefs", chefs_path %>
    </li>
</ul>

<%= will_paginate @recipes %>

<% @style.recipes.each do |r| %>
    <div class="row">
        <div class="col-md-2">
            <section class="chef_info center">
                <%= link_to gravatar_for(r.chef, size: 100), chef_path(r.chef) %>
                <h5>Chef name: <%= r.chef.chefname %></h5>
            </section>
        </div>
        <div class="col-lg-6 well">
            <h4><%= link_to r.name, recipe_path(r) %></h4>
            <p><%= r.summary %></p>
            <p>Styles: <%= render r.styles %></p>
            <p>ingredients: <%= render r.ingredients %></p>
            <p>
                <span class="quiet"><small>created: <%= time_ago_in_words(r.created_at) %> ago,
                </small></span>
                <span class="quiet"><small>updated: <%= time_ago_in_words(r.updated_at) %> ago
                </small></span>
            </p>
            <div class="pull-right">
                <%= link_to like_recipe_path(r, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= r.thumbs_up_total %>
                <% end %>&nbsp
                <%= link_to like_recipe_path(r, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= r.thumbs_down_total %>
                <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <%= image_tag(r.picture.url, size: "250x150", class: 'gravatar') if r.picture? %>
        </div>
    </div> 
    <hr/>
<% end %>

<%= will_paginate @recipes %>